<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<%= link_to 'Edit', edit_survey_question_path(@question) %> |
<%= link_to 'Back', survey_questions_path %>
